<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Nolan Harris, Yaseen Bhuiyan" />
    <meta name="description" content="profile" />
    <title>myBrary</title>
    <!-- <link rel="stylesheet" href="../styles.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script></script>
  </head>

  <body>
    <div>
      <nav
        class="navbar navbar-light navbar-expand-lg sticky-top"
        style="background-color: #e3f2fd"
        aria-label="Main Navigation
        Bar"
      >
        <div class="container-xl">
          <a class="navbar-brand" href="../../../php/home.php"
            ><div><img src="../../../assets/logo.svg" /></div
          ></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsTop"
            aria-controls="navbarsTop"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsTop">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item hover-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="../../../php/home.php"
                  >Home</a
                >
              </li>
              <li class="nav-item hover-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="../../../php/books.php"
                  >Saved Books</a
                >
              </li>
              <li class="nav-item hover-item">
                <a class="nav-link" href="../../../php/notes.php"
                  >Saved Notes</a
                >
              </li>
              <li class="nav-item hover-item">
                <a class="nav-link active" href="../angular">Profile</a>
              </li>
            </ul>

            <div class="" aria-labelledby="navbarDropdown">
              <div>
                <p>User: {{ email }}</p>
                <button class="btn btn-primary">
                  <a
                    style="color: white; text-decoration: none"
                    href="../../../php/index.php"
                    >Sign Out</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div>Hello World!</div>
    <form #nameForm="ngForm">
      <div class="mb-3">
        <label
          for="name"
          class="form-label"
          [ngStyle]="{ 'background-color': 'yellow' }"
          [ngClass]="{ 'text-success': true }"
          >Name:
        </label>
        <input
          ngModel
          type="text"
          class="form-control"
          name="name"
          placeholder="Enter name"
        />
        <button (click)="handleSubmit(nameForm.value.name)">Submit</button>
      </div>
    </form>
    <div>You entered: {{ nameForm.value.name }}</div>
    <div>Your current name: {{ name }}</div>

    <br />

    <button (click)="displayList()">Show/Hide Previuos Names</button>
    <ul *ngIf="display">
      <li *ngFor="let item of list">
        {{ item.name }}
      </li>
    </ul>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
      async
      defer
    ></script>
  </body>
</html>
